{% extends 'base.html' %}
{% block content %}
  <div class="home-hero">
    <h1>Welcome to PlaySpotPlay!</h1>
    <p>PlaySpotPlay is a Spotify integration application for creating customized playlists.</p>
    <h4>New to PlaySpotPlay?</h4>
    <p>Sign up now to create your own playlists</p>
    <a href="/sign_up" class="btn btn-primary">Sign up</a>
    <h4>Already a member?</h4>
    <p>Log in now to update or create your playlists</p>
    <a href="/login" class="btn btn-primary">Log in</a>
  </div>
{% endblock %}