{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

{% if playlists %}
<div class="search-results bg-success table-responsive">
    <h2 class="text-center">Playlists:</h2>
    <table class="table table-striped table-dark text-success table-hover table-sm align-middle">
        <thead>
            <tr>
                <th scope="col">Playlist Name</th>
                <th scope="col">Playlist ID</th>
                <th scope="col">View Playlist Contents</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
            <tr>
                <th>{{ playlist.name }}</th>
                <th>{{ playlist.id }}</th>
                <th><a href="/playlist/{{ playlist.id }}">Go to playlist</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p>No playlists found.</p>
{% endif %}

{% endblock %}