{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

{% if playlist %}
<div class="search-results">
    <h2>Playlist Details:</h2>
    <table class="table table-striped table-dark text-success table-hover">
        <thead>
            <tr>
                <th scope="col">Playlist Name</th>
                <th scope="col">Description</th>
                <th scope="col">Playlist ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ playlist.spotify_playlist_name }}</td>
                <td>{{ playlist.spotify_playlist_description }}</td>
                <td>{{ playlist.spotify_playlist_id }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Songs in Playlist:</h2>
    <table class="table table-striped table-dark text-success table-hover">
        <thead>
            <tr>
                <th scope="col">Song Title</th>
                <th scope="col">Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist_song in playlist.playlist_song_join %}
            <tr>
                <td>{{ playlist_song.songs.song_title }}</td>
                <td>{{ playlist_song.songs.song_artist }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}