{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

{% if playlist_content %}
<div class="search-results">
    <h2>Playlist Details:</h2>
    <table class="table table-striped table-dark text-success table-hover">
        <thead>
            <tr>
                <th scope="col">Playlist Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ playlist_content[0].spotify_playlist_name }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Songs in Playlist:</h2>
    <table class="table table-striped table-dark text-success table-hover">
        <thead>
            <tr>
                <th scope="col">Song Title</th>
                <th scope="col">Song Album</th>
                <th scope="col">Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist_song in playlist_content %}
            
            <tr>
                <td>{{ playlist_song.song_title }}</td>
                <td>{{ playlist_song.song_album }}</td>
                <td>{{ playlist_song.spotify_artist_name }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}